//Dark Scheme
@import "./color_schemes/dark";

// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// prettier-ignore
$body-font-family: "Inter", sans-serif;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace;
$root-font-size: 16px !default; // DEPRECATED: previously base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

h1,
.text-alpha {
  font-weight: 500;

  @include fs-8;
}
